html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.main-content {
  padding-top: 90px; /* misma altura que el header */
}


app-footer {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: auto; /* Empuja el footer hacia abajo */
}